body{

    transition:0.4s;

}

.hero{

    height:90vh;

    background:url("../img/hero.jpg") center;
    background-size:cover;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    text-align:center;

}

.hero h1{

    font-size:4rem;

    text-shadow:2px 2px 10px black;

}

.card{

    transition:.4s;

}

.card:hover{

    transform:translateY(-10px);

}

.dark{

    background:#121212;

    color:white;

}

.dark .card{

    background:#2b2b2b;

    color:white;

}

.dark footer{

    background:#000 !important;

}
